.activity-form-container {
    width: 100%;
    height: 100%;
    background-color:#f5f5fa;
    color: black;
    border-radius: 3px;
    text-align: left;
}

.activity-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

.activity-input{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50%;
    margin-left: 50%;
    width: 130px;
    height: 60px;
    margin-bottom: 10px;
}

#create-activity-btn-2{
    position: absolute;
    width: 50px;
    left: 336px;
    bottom: 20px;
    background-color: #2d2d32;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
}

#cancel-activity-btn {
    position: absolute;
    bottom: 20px;
    left: 274px;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
}