.dash-bg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #f5f5fa;
}
 
 .dashboard-container {
    height: 100%;
    // background-color: #f5f5fa;
    width: 100%;
    height: 100%;
    display: flex;
    // position: absolute;
    justify-content: space-between;
    // display: inline-block;
    max-width: 1200px;
    margin: auto;
}

.col {
     width: 25%;
    background-color: #f5f5fa;
    // padding: 40px;
    padding:16px;
    margin-top: 64px;
    min-width: 275px;
}

.dashboard-feed {

    width: 50%;
    background-color:#f5f5fa;
    padding: 16px;

}



.col-div {
    background-color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; 
}

.profile {
    height: 250px;
    background-color: white;
    border-radius: 5px;
}

.card-body {
    height: 150px;
    background: blue;
    display: flex;
    justify-content: center;
    border-radius: 3px; 
}

.avatar-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 100px;
    text-align: center;
    margin: auto;
    background-image: url("https://benmounsey.files.wordpress.com/2017/03/0n1a3599-edit.jpg?w=764");
}