.dash-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f5f5fa;
    height: 100%;
    position: fixed;
    top: 51px;
}
 
.col {
    height: 100vw;
}

 .dashboard-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background-color: #f5f5fa;
}

.col {
     width: 25%;
    background-color: #f5f5fa;
    padding:16px;
    margin-top: 64px;
    min-width: 270px;
}

.right {
    min-width: 200px;
}
.dashboard-feed {

    width: 50%;
    background-color:#f5f5fa;
    padding: 16px;
    min-width: 600px;
    height: 100%;
    // overflow: scroll;
}

// .feed-container {
//     overflow: scroll;
// }

.col-div {
    background-color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; 
   
}

.profile {
    height: 225px;
    background-color: white;
    border-radius: 5px;
}

.card-body {
    height: 130px;
    display: flex;
    justify-content: center;
    border-radius: 3px; 
    border-bottom: 2px solid #f5f5fa;
    position: relative;
}

#username{
    position: absolute;
    top: 20px;
}
.prof-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: -35px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
    background-image: url("https://benmounsey.files.wordpress.com/2017/03/0n1a3599-edit.jpg?w=764");
    background-size: cover;
}



.header-container {
    width: 100%;
    border-bottom: solid 1px #e6e6eb;
    position: fixed;
    z-index: 30;
}

@media only screen and (min-width: 1210px) {
    .left.col {
        padding-left: 0px;
    }
}

.user-stats {
    display: flex;
    justify-content: space-evenly;
}

.routes {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 37px;
}

.activities {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 185px;
}

.dash-stats {
    font-size: 12px;
}

.upper-card h3 {
    margin: 0px;
}

.latest-activity {
    margin-top: 15px;
    margin-left: 15px;
}

.latest-activity a {
    color: black;
    cursor: pointer;
}

.section {
    border-top: 1px solid #e6e6eb;
    padding-top: 24px;
    padding-bottom: 24px;

}

.section:first-child {
    margin-top: 64px;
    border-top: none;
}

.media {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.media-object {
    margin-right: 15px;
    padding-right: 0;
    box-sizing: border-box;
}

.media-img {
    display: block;
    width: 48px;
    height: 48px;
}

.media-body {
    -webkit-box-flex: 1;
    flex: 1 1;
    box-sizing: border-box;
}

.media-title {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.media-text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
}

.media-link {
    color: #fc4c02;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    will-change: color;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.no-acts a {
    color: #437fa9;
}

.tabbed-card {
    width: 100%;
    height: 340px;
    background: white;
    border-radius: 3px;
    margin-top: 3px;    
}

.tabs {
    margin: 0;
    display: table;
    width: 100%;
    border: none;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
}

.tabs > li {
    float: none;
    display: table-cell;
    text-align: center;
    transition: border-color 0.1s ease;
}

.icon-btn {
    border: none;
    width: 100%;
    height:100%;
    background-color: #f5f5fa;
    cursor: pointer;
}

.icon-btn:active {
    background-color: white;

}

.icon-btn:focus {
    background-color: white;
    outline: none;
}


.icon-btn:hover {
    background: white;
}

.rides {
    border: none;
}

.tab {
    height: 50px;

}
.tab1 {
    border-right: 2px solid #f5f5fa;
}

.tab:hover {
    border-radius: 5px;
}

.second-card-body {
    padding: 16px;
    border:none;
    height: 130px;
    display: flex;
    justify-content: center;
    border-radius: 3px; 
    position: relative;
}

.message-container {
    margin: 0px;
    padding: 16px;
    background-color: #f5f5fa;
    width: 100%;
}

.message-chev-container {
    position: relative;
    padding-right: 15px;
    width: 10%;
    height: 100%;

}

#chev{
    position: absolute;
    top: 25px;
    background-image: url("http://rac.1touch.info/media_uploads/images/1/Chevron-orange.png");
    display: inline-block;
    background-size: cover;
    height: 26px;
    width: 18px;
}

.message-body {
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 60px;
    width: 150px;
}

#hydrate {
    color: orangered;
}

.total-stats {
    font-size: 11;
    text-align: center;
    font-weight: 300;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.primary-stats {
    font-size: 20px;
    text-align: center;
    color: #79d7bd;
    width: 100%;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.stat-icon {
    background-size: cover;
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 10px
}

#bike {
    background-image: url("https://cdn4.iconfinder.com/data/icons/real-estate-line-1-1/256/Bikecycle_512x512-512.png");
}

#run {
    background-image: url("https://static.thenounproject.com/png/1473807-200.png");
}