.index-container {
    height: 100%;
    background-color: white;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.index-list {
    flex-wrap: wrap;
    display: flex;
    
}

.route-index-item {
    padding: 10px;
}

#map-container {
    background-color: #f7f7f7;
    width: 270px;
    height: 340px;
}