.header-group{
    width: 100%;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: black;
    padding-top: 26px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 200;
}

.global-nav {
    float: left;
    line-height: 1;
    list-style: none;
    display: flex;
    min-width: 200px;
    justify-content: flex-start;
}

.nav-group {
    position: relative;
    z-index: 11;
}

.user-nav {
    display: flex;
    height: 10px;
    list-style: none;
    justify-content: flex-end;
    min-width: 100px;
    padding-right: 50px;
}
.drop-down-menu {
    position: relative;
    margin-right: 20px;
}

.options {
    display: none;
    position: absolute;
    height: 100px;
    width: 150px;
    border: 1px solid gray;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: white;
    line-height: 50px;
    color: black;
}

.drop-down-menu:hover .options {
    display: block;
    cursor: pointer;
    
}

.drop-down-menu:hover {
    cursor: pointer;
    color: #ff5300;
}

.list-option:hover {
    background: #7c7b7b;
}
// .list-option {
//     padding-top:10px;
// }
.gray-menu {
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 100%;
    background-color:  #464545;
    color: white;
    
}

.list-option > a {
    text-decoration: none;
    color: black;
}