// #bar {
//     z-index: 0;
//     position: absolute;
//     top: 0px;
//     width: 100%;
//     background-color: #ffffff;
//     display: flex;
//     height: 50px
// }

.new-map-container{
    width: 100%;
    height: 600px;

}

#autoc {
    height: 30px;
    width: 200px;
}

#save-route-btn {
    background-color: #ff5900;
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 5;
}

#clear-route-btn {
    height: 30px;
    width: 50px;
    border-radius: 5;
}

#mode {
    height: 30px;
}

.new-route-stats{
    position: absolute;
    bottom: 30px;
    width: 750px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    bottom: 30px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
}

#distance{
    margin-right: 300px;
}